<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://rukminim1.flixcart.com/image/400/400/kx50gi80/projector/r/9/p/zeb-pixa-play-12-5-6-dobly-audio-led-projector-zebronics-original-imag9z3yujqmzqt4.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projector</h5>
                    <p class="card-text">From $9999</p>
                    <p class="card-text">Zebronics</p>
                    <a href="#" class="btn btn-primary">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://rukminim1.flixcart.com/image/400/400/kokdci80/dslr-camera/v/e/x/z-24-200mm-z5-nikon-original-imag2zuekuxgxsgg.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projector</h5>
                    <p class="card-text">From $9999</p>
                    <p class="card-text">Zebronics</p>
                    <a href="#" class="btn btn-primary">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://rukminim1.flixcart.com/image/400/400/printer/j/j/y/hp-laserjet-m1005-multifunction-original-imadxhzpeb9qbrfg.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projector</h5>
                    <p class="card-text">From $9999</p>
                    <p class="card-text">Zebronics</p>
                    <a href="#" class="btn btn-primary">BUY NOW</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card text-center">
                <img src="https://rukminim1.flixcart.com/image/400/400/kmp7ngw0/monitor/j/z/h/s2721hn-27-py0df-dell-original-imagfjphuywuh2a7.jpeg?q=70" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Projector</h5>
                    <p class="card-text">From $9999</p>
                    <p class="card-text">Zebronics</p>
                    <a href="#" class="btn btn-primary">BUY NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>