<style>
    input {
        border: 1px solid blue;
        border-radius: 5px;
    }
</style>
<p>databinding works!</p>

<div style="color:blue">My Name is: {{name}}</div>
<div>My Name is: <span [innerHTML]="name"></span></div>
<div>My Name is: <span bind-innerHTML="name"></span></div>

<img src="https://m.cricbuzz.com/a/img/v1/192x192/i1/c171004/sachin-tendulkar.jpg">
<img src="{{img_url}}" class="ms-1">
<img [src]="img_url" class="ms-1">
<img bind-src="img_url" class="ms-1">
<br><br>
<input value="Sachin Tendulkar" />
1-way: <input value="{{name}}" class="ms-1" />
1-way: <input [value]="name" class="ms-1" />
1-way: <input bind-value="name" class="ms-1" />
2-way: <input [(ngModel)]="name" class="ms-1" />
<hr>
<button disabled="{{flag}}" class="btn btn-primary">Btn-1</button>
<button [disabled]="flag" class="btn btn-primary ms-1">Btn-2</button>
<button bind-disabled="flag" class="btn btn-primary ms-1">Btn-3</button>

<button (click)="f1()" class="btn btn-secondary ms-1">btn-4</button>
<button on-click="f1()" class="btn btn-secondary ms-1">btn-5</button>
<hr>
<h1 [hidden]="flag">This is A Paragraph</h1>
<!-- <button (click)="toggleFlag()">SHOW/HIDE</button> -->
<button (click)="this.flag = !this.flag">
    {{flag ? 'SHOW' : 'HIDE'}}
</button>
<hr>
<input type="{{flag?'text':'password'}}">
<input type="checkbox" (change)="this.flag = !this.flag"> Show password
<br>
<button (click)="this.flag = !this.flag"> {{flag ? 'HIDE' : 'SHOW'}} Password</button>
<hr>
<p>Number-1: <input type="number" [(ngModel)]="a"></p>
<p>Number-2: <input type="number" [(ngModel)]="b"></p>
<div>Addition of {{a}} & {{b}} is {{a+b}}</div>
<div>Subtraction of {{a}} & {{b}} is {{a-b}}</div>
<div>Multiplication of {{a}} & {{b}} is {{a*b}}</div>
<hr>
<textarea [(ngModel)]="msg" [maxlength]="maxChars" cols="30" rows="3"></textarea>
<div>Message: {{msg}}</div>
<div>Remaining: {{maxChars - msg.length}}</div>
<hr>
<p>Number1: <input type="number" #num1 id="num1" name="box1" placeholder="enter a number" /></p>
<p>Number2: <input type="number" ref-num2 /></p>
<button class="btn btn-primary" (click)="addition(+num1.value , +num2.value)">Add</button>
<p>{{addMsg}}</p>

<button (click)="f2(num1)">get The details of a template variable</button>