<div class="center">
    <!-- <app-electronics></app-electronics> -->
    <!-- <app-databinding></app-databinding> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-users></app-users> -->
    <!-- <app-greet>
        <p>This is a paragraph</p>
        <div id="div1">Div with id</div>
        <div class="div2">Div with class</div>
    </app-greet> -->
    <app-product-list></app-product-list>
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-parent></app-parent> -->
    <!-- <app-employee-crud></app-employee-crud> -->
    <!-- <app-mathdemo1></app-mathdemo1>
    <hr/>
    <app-mathdemo2></app-mathdemo2>
    <hr/>
    <app-mathdemo3></app-mathdemo3> -->
    <!-- <app-movie-list></app-movie-list> -->
    <!-- <app-user-list></app-user-list> -->
    <!-- <app-comments></app-comments> -->
    <!-- <app-observable-demo1></app-observable-demo1> -->
    <!-- <app-observable-demo2></app-observable-demo2> -->
    <!-- <app-observable-demo3></app-observable-demo3> -->
    <!-- <app-observable-demo4></app-observable-demo4> -->
    <!-- <app-subject-demo1></app-subject-demo1> -->
    <!-- <app-send-message></app-send-message>
    <hr/>
    <app-receive-message></app-receive-message>
    <hr/>
    <app-receive-message2></app-receive-message2> -->
</div>