<p>directives works!</p>

<div *ngIf="n%2===0">{{n}} is Even</div>
<div *ngIf="n%2!==0">{{n}} is Odd</div>

<div *ngIf="n%2===0;else oddBlock">
    <div>{{n}} is Even</div>
</div>
<ng-template #oddBlock>
    <div>{{n}} is Odd</div>
</ng-template>

<div *ngIf="flag">This div is controlled by ngIf</div>
<div [hidden]="!flag">This div is controlled by hidden</div>

<input type="checkbox" [(ngModel)]="flag">toggle
<table [hidden]="!flag" class="table table-bordered table-striped">
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
    <tr>
        <td>data-1</td>
        <td>data-2</td>
        <td>data-3</td>
        <td>data-4</td>
        <td>data-5</td>
        <td>data-6</td>
        <td>data-7</td>
        <td>data-8</td>
        <td>data-9</td>
        <td>data-10</td>
    </tr>
</table>
<hr />
<h1 [ngSwitch]="dayNumber">
    <p *ngSwitchCase="1">Today is Monday</p>
    <p *ngSwitchCase="2">Today is Tuesday</p>
    <p *ngSwitchCase="3">Today is Wednesday</p>
    <p *ngSwitchCase="4">Today is Thursday</p>
    <p *ngSwitchCase="5">Today is Friday</p>
    <p *ngSwitchCase="6">Today is Saturday</p>
    <p *ngSwitchCase="0">Today is Sunday</p>
    <p *ngSwitchDefault>Not a valid number</p>
</h1>
<h2 [ngSwitch]="alphabate">
    <p *ngSwitchCase="'A'">Apple</p>
    <p *ngSwitchCase="'B'">Ball</p>
    <p *ngSwitchCase="'C'">Cat</p>
    <p *ngSwitchDefault>Not a valid Aphabate</p>
</h2>
<hr />
First value from cars arr is: {{cars[ind]}}
<hr>
<ul>
    <li *ngFor="let car of cars">{{car}}</li>
</ul>
<select [(ngModel)]="selectedCountry" multiple>
    <option *ngFor="let country of country_list">
        {{country}}
    </option>
</select>
<p>You have Selected: {{selectedCountry}}</p>

<select [(ngModel)]="selectedState">
    <option *ngFor="let state of states" [value]="state.val">
        {{state.name}}
    </option>
</select>
<p>state: {{selectedState}}</p>

<input list="countries" [(ngModel)]="selectedCountry2">
<datalist id="countries">
    <option *ngFor="let country of country_list">
        {{country}}
    </option>
</datalist>
<p>You have Selected: {{selectedCountry2}}</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Eid</th>
            <th>name</th>
            <th>salary</th>
            <th>sl no</th>
            <th>isFirst</th>
            <th>isLast</th>
            <th>isEven</th>
            <th>isOdd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees;let ind = index;
        let isFirst=first;let isLast=last;
        let isEven=even;let isOdd=odd;trackBy:trackByEmpId;">
            <td>{{emp.eId}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.sal}}</td>
            <td>{{ind}}</td>
            <td>{{isFirst}}</td>
            <td>{{isLast}}</td>
            <td>{{isEven}}</td>
            <td>{{isOdd}}</td>
        </tr>
    </tbody>
</table>
<button (click)="updateTableData()">Update table data</button>