<div class="container border p-2">
    <div class="row">
        <p>I am Parent Component</p>
        <p>My Own data a is: {{a}}</p>
        <p>My Own data b is: {{b}}</p>
        <p><input type="number" [(ngModel)]="a"></p>
        <p>Name from child-2 is {{pName}}</p>
        <p>Name from child-2 is {{child2.name}}</p>
        <p>
            <input #newNum />
            <button (click)="arr.push(newNum.value)">Add New Number</button>
        </p>
        <p>
            <span *ngFor="let ele of arr">{{ele}},&nbsp;</span>
        </p>
    </div>
    <div class="row m-2">
        <div class="col-sm-6 border">
            <app-child1 [arr]="arr" [child1a]="a" [f1]="f1" [pName]=pName [child2]="child2"></app-child1>
        </div>
        <div class="col-sm-6 border">
            <app-child2 [b]="b" (nameEvent)="receiveName($event)" #child2></app-child2>
        </div>
    </div>
</div>