<p>employee-cards works!</p>

<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let emp of employees">
            <div class="card text-center">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{emp.id}}</h5>
                    <p class="card-text">{{emp.firstName}}</p>
                    <p class="card-text">{{emp.lastName}}</p>
                    <p class="card-text">{{emp.sal}}</p>
                    <p class="card-text">{{emp.getYearlySalary()}}</p>
                    <p class="card-text">{{emp.getFullName()}}</p>
                </div>
            </div>
        </div>
    </div>
</div>